
/* CSS Reset */
 *{ /*use to select any and all elements*/
    margin: 0;
    padding: 0;
}
/* CSS Variable */
/* :root{
    --navbar-height:72px;
} */
/* navbar */
#navbar{
    font-family: 'Baloo Bhai 2', cursive;
    display: flex;
    align-items: center;
    position: relative;
}
/* navbar icon */
#icon{
     margin: 20px 30px;
}
#icon img{
     height: 72px;
     margin: 21px 20px;
     transition: all 0.5 ease-in-out;
}
#icon img:hover{
    transform: scale(1,1);
}
/* navbar list */
#navbar ul{
    display: flex;
    list-style-type: none; 
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    z-index:-1;
}

#navbar ul li{
    
   
    font-size: 1.3rem;
}
#navbar ul li a{
    color: blanchedalmond;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

}
#navbar ul li a:hover{
    transform: translateY(-19px);
    color: black;
    background-color: wheat;
}
/* Home section */
#home{
    display: flex;
    height: 697px;
    flex-direction: column;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url('bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index:-2;
    opacity: 2.4;
    box-shadow: 0 0 20px 0 rgb(200 200 200 / 70%);
}
#home h1{
    color:black;
    text-align: center;
    font-family: 'Tourney', cursive;
    font-size: 5.4rem;
}
#home p{
    color: black;
    text-align: center;
    font-size: 2.4rem;
    font-family: 'Baloo Bhaina 2', cursive;
    }
    
/* sevices section */
.service::before{
    content: "";
    background:url('spare2.jpg') no-repeat center center/cover;
    position: absolute;
    height: 101%;
    width: 100%;
    top: 841px;
    opacity: 0.9;
    z-index:-1;
}
#service{
    margin: 34px;
    display: flex;
    /* background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); */
    height: 400px;
}
    
#service .box{
    border: 2px solid black;
    padding: 34px 10px;
    border-radius: 20px;
    margin: 4px 6px;
    background-color: black;
    color: blanchedalmond;
    width: 61%;
    transition:all 0.5s ease-in-out;}
    #service.box a{
        color:white;
    }
    
    #service .box:hover{
        transform: translatey(-20px);
        color: white;
        background-color: transparent;
        cursor: pointer;
    }
        
  #service .box img{height: 200px;
     margin: auto;/*(use block with margin auto) */
    display: block;
    cursor: pointer;
    /* #box2 img{width: 200px;} */
     transition: all 0.5s ease-in;}
     #service .box img:hover{
         filter: blur(2px);
     }
#service.box p{
    text-align: center;
    font-size: 2.5rem;
}
.hsecond {
    font-family: 'Rubik', sans-serif ;
}
.hsecond a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

/* utility classes */
.hprim{
    font-size: 3rem;
    padding: 12px;
}
.hsecondary a{
    font-size: 1.5rem;
    padding: 4px;
    color: blanchedalmond;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: #514f50;
    color: white;
    margin: 26px;
    font-size: 2.5rem;
    border-radius: 21px;
    cursor: pointer;
    transition:all 1s ease-in-out;
}
.btn:hover{
    transform:translateY(-10px);
    background-color: transparent;
    
}
.center{text-align: center;}
 

/* contact section */
#signup input{
    width: 100%;
    padding: 0.6rem;
    
}
#contact::before{
    content:"#";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background: url("signup.jpeg") no-repeat center center/cover;
}
#signup{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 85px;
}
#signup form{
    width: 40%;
}
footer{
    background: black;
    color: blanchedalmond;
    padding: 14px 20px;

}
.btn2{
    margin: auto;
    display: block;
    /* padding: 22px 18px; */
    margin: 26px 85px;
    height: 36px;
    width: 63px;
}
/* Social media */
#social section{
    height: 30px;
}
.hero{
    width: 100%;
    height: 25vh;
    background:black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-size: 40px;
}
.social_media{
    display: flex;
}
.social_media a{
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    margin: 0px 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}
.social_media a .fab{
    font-size:53px ;
     line-height: 80px;/*for verticall center */
     position: relative;
     z-index: 10;
     transition: 0.5s;
}
.social_media a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: linear-gradient(-45deg,#ed1c94,#ffec17);
    position: absolute;
    transition: 0.5s;
}
.social_media a:hover::after{
    top: 0px;
}
.social_media a:hover.fab{
    color: white;
}
.social_media a:hover{
    transform: translatey(-10px);
}